@import "../../../../../main";

.todos {
  width: 400px;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  margin: 2em;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

  &-list {
    background-color: $bg-color-gray;
    width: 100%;
    padding: 1em 0;

    &.empty {
      color: $text-color-secondary;
      text-align: center;
    }
  }

  &-title {
    font-size: 1.3rem;
    text-align: center;
    padding: .5em 0;
  }

  &-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    margin: 1em;
    background-color: $bg-color-secondary;
    border: 1px solid $border-color;
    color: $text-color-secondary;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  &-form {
    margin: 0 1em;
    padding: 1em;
    background-color: $bg-color-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__add {
      border: 1px solid $border-color;
      padding: .5em;
      color: $text-color-secondary;
      font-size: 1.2rem;
      box-sizing: border-box;
      width: 85%;

      &:hover {
        border-color: $hover-color;
      }

      &:focus {
        border-color: $text-color-secondary;
      }
    }

    &__btn {
      background-color: $bg-color;
      color: $text-color-primary;
      border: none;
      outline: none;
      padding: .5em;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }
}
