<div class="todos-wrapper">
  <div class="todos">
    <h3 class="todos-title">To Do List</h3>

    <div class="todos-list"
         cdkDropList
         #todoList="cdkDropList"
         [cdkDropListData]="listOfToDo"
         [cdkDropListConnectedTo]="doneList"
         (cdkDropListDropped)="onDrop($event)">
      <ng-container *ngFor="let todo of listOfToDo">
        <app-todo-list-item cdkDrag [todo]="todo" (id)="removeToDo($event)" (checkId)="checkedToDo($event)"></app-todo-list-item>
      </ng-container>

      <div class="todos-form" *ngIf="formShow">
        <input type="text" class="todos-form__add" (keyup.enter)="addToDo()" [(ngModel)]="newToDo">
        <button class="todos-form__btn" (click)="addToDo()"><i class="fas fa-check"></i></button>
      </div>
    </div>

    <div class="todos-list empty" *ngIf="!listOfToDo[0]">To Do list is empty...</div>

    <button class="todos-btn" (click)="toggleForm()"><i class="fas fa-plus"></i></button>
  </div>

  <div class="todos">
    <h3 class="todos-title">Completed</h3>

    <div class="todos-list"
         cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="completed"
         [cdkDropListConnectedTo]="todoList"
         (cdkDropListDropped)="onDrop($event)">
      <ng-container *ngFor="let complete of completed">
        <app-todo-list-item cdkDrag [todo]="complete" (id)="removeToDo($event)" (checkId)="checkedToDo($event)"></app-todo-list-item>
      </ng-container>
    </div>

    <div class="todos-list empty" *ngIf="!completed[0]">Completed list is empty...</div>
  </div>
</div>
