<div class="todo">
  <div class="todo-item">
    <input type="checkbox" class="todo-checkbox" [checked]="todo.complete" (click)="checkToDo(todo.id)">
    <label class="todo-title" [ngClass]="{ 'complete': todo.complete }">{{ todo.title }}</label>
  </div>
  <button class="todo-btn" (click)="deleteToDo(todo.id)"><i class="far fa-trash-alt"></i></button>
</div>
