@import "../../../../../main";

.todo {
  background-color: $bg-color-secondary;
  margin: 1em;
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  &-title {
    color: $text-color-secondary;
    margin-left: .5em;
    font-size: 1.2rem;

    &.complete {
      text-decoration: line-through;
    }
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &-btn {
    background-color: $bg-color;
    color: $text-color-primary;
    border: none;
    outline: none;
    padding: .5em;
    border-radius: 3px;
    cursor: pointer;
  }
}
