/* You can add global styles to this file, and also import other style files */

@import "./main";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, center,
dl, dt, dd, ol, ul, li, input, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Calibri', cursive;
  vertical-align: baseline;
  font-weight: 400;
  color: $text-color-primary;
  outline: none;
  text-decoration: none;
}

body {
  background-color: $bg-color-gray;
}
